<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
</head>
<body>
    <h1>Ласкаво просимо на NFT Marketplace</h1>
    
    <nav>
        <ul>
            
            <li><a href="{% url 'nft_list' %}">NFT Колекції</a></li>
            <li><a href="{% url 'register' %}">Реєстрація</a></li>
            <li><a href="{% url 'login' %}">Вхід</a></li>
        </ul>
    </nav>

    <p>Оберіть опцію в меню, щоб продовжити.</p>
</body>
</html>
