<!-- polls/templates/polls/register.html -->
{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'polls/css/sign_up_style.css' %}" />
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <div class="logo-text">krytix</div>
            <a href="{% url 'polls:nft_list' %}">  <!-- Змініть на ваш головний URL -->
                <img src="{% static '/market/polls/static/polls/css/img/logo.png' %}" alt="" width="70px" height="70px" />
            </a>
            <div class="logo-text">lopchi</div>
        </div>
        <h2>Sign up</h2>
        <form method="POST" class="login-form">
            {% csrf_token %}
            
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            {{ error }}<br>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="id_username">Username</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label for="id_email">Email</label>
                {{ form.email }}
            </div>

            <div class="form-group">
                <label for="id_password">Password</label>
                {{ form.password }}
            </div>

            <button type="submit" class="login-btn">Enter</button>

            <div class="signup-link">
                <p>
                    already have an account?
                   <a href="{% url 'polls:login' %}">Log in</a> <!-- Додайте URL для входу -->
                </p>
            </div>
        </form>
    </div>
</body>
</html>